.tag{
    background-color: rgb(239 183 86);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 418px;
    border-radius: 10px;
}
.btn{
    all: unset;
    border: 1px solid #534f4f;
    border-radius: 17px;
    background-color: #d3cbcbd1;
    padding: 2px 125px;
}
.input{
    /* all: unset; */
    padding: 2px 75px;
    background-color: #eae7e7e9;
    border-radius: 5px;
}