* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  background: rgb(238, 238, 242);
  background: linear-gradient(90deg, rgba(238, 238, 242, 1) 0%, rgba(244, 249, 59, 1) 22%, rgba(217, 221, 227, 1) 100%);
}

.heading {
  text-align: center;
  border: 1px solid black;
  margin: 20px 10px 0 10px;
  border-radius: 15px;
}

.gifs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}